html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Verdana", "Geneva", sans-serif;
    font-weight: bold;
    background: #d0d5db;
}

.banner-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    font-family: 'web-peugeot', sans-serif;
    border: 1px solid #d2d2d2;
    box-sizing: border-box;
    overflow: hidden;
}

/*
.banner-wrapper--300x250 {
    width: 300px;
    height: 250px;
}
*/

#main-background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #282c2e;
    background-image: url(bg-main.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

#main-background::after {
    position: absolute;
    display: none;
    content: '';
    width: 100%;
    height: 100px;
    top: 0;
    left: 0;
    z-index: 2;
    background: linear-gradient(180deg, rgba(40,44,46,0) 0%, rgba(40,44,46,1) 100%);
    background-repeat: no-repeat;
    background-size: 100%;
}

#legal-trigger {
    position: absolute;
    width: 100%;
    height: 20px;
    bottom: 0;
    left: 0;
    z-index: 10;
    font-size: 10px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

#legal-trigger span {
    display: block;
}

#legal-copy {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 9;
    top: 0;
    left: 0;
    font-size: 11px;
    line-height: 13px;
    padding: 10px;
    color: #fff;
    text-align: justify;
    box-sizing: border-box;
    white-space: nowrap;
    background-color: rgba(0, 0, 0, 0.8);
    transform: translateY(-100%);
}

#legal-copy:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
}

#legal-copy .legal-copy-content {
    display: inline-block;
    width: 100%;
    vertical-align: top;
    white-space: normal;
}

#legal-copy p {
    padding: 0;
    margin: 0 0 6px;
}

@media screen and (max-aspect-ratio: 1/2) {
    #main-background {
        background-size: contain;
        background-image: url(bg-main-1-2.jpg);
    }
}

@media screen and (min-aspect-ratio: 5/1) {
    #main-background {
        background-color: #d0d5db;
        background-size: contain;
        background-image: url(bg-main-10-1.jpg);
        background-position: right top;
    }

    #legal-trigger {
        transform: rotateZ(-90deg);
    }

    #legal-copy {
        padding-left: 30px;
        font-size: 10px;
    }

    #legal-copy .legal-copy-content {
        vertical-align: middle;
    }
}

@media screen and (width: 160px) and (height: 160px) {
    #legal-trigger {
        height: 12px;
        line-height: 12px;
        font-size: 7px;
    }

    #legal-copy {
        padding: 5px;
        font-size: 7px;
        line-height: 9px;
    }
}

@media screen and (width: 160px) and (height: 600px) {
    #main-background::after {
        display: block;
        top: 220px;
    }
}

@media screen and (width: 728px) and (height: 90px) {
    #legal-trigger {
        width: 90px;
        font-size: 9px;
        left: -20px;
        transform-origin: 20px 0;
    }
}

@media screen and (width: 840px) and (height: 150px) {
    #legal-trigger {
        width: 150px;
        left: -20px;
        transform-origin: 20px 0;
    }
}