$peugeot-blue: #00264a;

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "Verdana", "Geneva", sans-serif;
  font-weight: bold;
  background: #fff;
}

.banner-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  font-family: 'web-peugeot', sans-serif;
  border: 1px solid #d2d2d2;
  box-sizing: border-box;
  overflow: hidden;
  background: #fff;

  &:before {
    position: absolute;
    display: none;
    content: '';
    width: 100%;
    height: 100%;
    z-index: 10000000;
  }

  &.screen-1:before {
    background: rgba(0, 0, 0, 0.5);
  }

  &.screen-2:before {
    background: rgba(0, 0, 0, 0.8);
  }

}

.banner-wrapper--300x250 {
  width: 300px;
  height: 250px;
}

#banner-wrapper {
  width: 100%;
  height: 100%;
  opacity: 0;
}

#bg-exit {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  cursor: pointer;
}

#circles-wrapper {
  position: absolute;
  width: 156px;
  height: 156px;
  top: 0;
  left: 50%;
  z-index: 300;
  transform: translate(-50%, -100%);
}

#circle-text {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  font-family: 'web-peugeot-bold', sans-serif;
  color: $peugeot-blue;

  .line1,
  .line2,
  .line3 {
    position: absolute;
  }

  .line1 {
    top: 50%;
    left: 50%;
    margin-top: -28%;
    margin-left: -15%;
    font-size: 1.5vw;
  }

  .line2 {
    width: 48%;
    height: 48%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    img {
      position: absolute;
      width: 100%;
      height: 100%;

      &.white {
        display: none;
      }

    }

  }

  .line3 {
    top: 50%;
    left: 50%;
    margin-top: -22%;
    margin-left: 18%;
    font-size: 3.5vw;
    line-height: 85%;
  }

}

.circles {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.circles svg {
  width: 100%;
  height: 100%;
}

#main-background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #282c2e;
  background-image: url(bg-main.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: center 100%;

  &:after {
    position: absolute;
    display: none;
    content: '';
    width: 100%;
    height: 100px;
    top: 0;
    left: 0;
    z-index: 2;
    background: linear-gradient(180deg, rgba(40, 44, 46, 0) 0%, rgba(40, 44, 46, 1) 100%);
    background-repeat: no-repeat;
    background-size: 100%;
  }

}

#legal-trigger {
  position: absolute;
  width: 100%;
  height: 20px;
  bottom: 0;
  left: 0;
  z-index: 1100;
  font-size: 10px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  background-color: rgba(0, 0, 0, .5);
  cursor: pointer;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  transition: background-color 1s cubic-bezier(0.190, 1.000, 0.220, 1.000);

  span {
    display: block;
  }

  &.active {
    background-color: rgba(0, 0, 0, 0);

    span {
      opacity: .5;
    }

  }

}

#legal-copy {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1000;
  top: 0;
  left: 0;
  font-size: 11px;
  line-height: 13px;
  padding: 10px;
  color: #fff;
  text-align: justify;
  box-sizing: border-box;
  white-space: nowrap;
  background-color: rgba(0, 0, 0, .8);
  transform: translate(0%, 100%);

  &.visible {
    transform: translate(0%, 0%);
  }

  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    margin-right: -.25em;
  }

  .legal-copy-content {
    display: inline-block;
    width: 100%;
    vertical-align: top;
    white-space: normal;
  }

  p {
    padding: 0;
    margin: 0 0 6px;
  }

}

#headline-1 {
  position: absolute;
  width: 100%;
  top: 22px;
  left: 0;
  padding: 0 10px;
  margin: 0;
  z-index: 20;
  opacity: 0;
  font-family: 'web-peugeot-bold', sans-serif;
  font-size: 22px;
  font-weight: normal;
  text-transform: uppercase;
  text-align: center;
  line-height: 22px;
  color: $peugeot-blue;
  box-sizing: border-box;
}

#overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 15;
  opacity: 0;
  background: rgba(255, 255, 255, 1);
}

#logo {
  position: absolute;
  width: 60px;
  height: 72px;
  top: 0;
  right: 10px;
  z-index: 16;
  background: rgba(255, 255, 255, 1);
  transform: translate(0%, -100%);

  img {
    position: absolute;
    width: 80%;
    height: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

}

#cta {
  position: absolute;
  width: auto;
  height: auto;
  left: 50%;
  bottom: 42px;
  padding: 18px 30px;
  z-index: 25;
  opacity: 0;
  font-family: 'web-peugeot', sans-serif;
  font-size: 15px;
  white-space: nowrap;
  text-transform: uppercase;
  color: #fff;
  background: $peugeot-blue;
  border: 1px solid #fff;
  transform: translate(-50%, 0%);
}

@media screen and (max-aspect-ratio: 1/2) {
  #main-background {
    background-image: url(bg-main-1-2.jpg);
    background-position: center 0;
  }
}

@media screen and (min-aspect-ratio: 5/1) {
  #main-background {
    background-color: #d0d5db;
    background-size: contain;
    background-image: url(bg-main-10-1.jpg);
    background-position: right top;
  }

  #legal-trigger {
    transform: rotateZ(-90deg);
  }

  #legal-copy {
    padding-left: 30px;
    font-size: 10px;
    transform: translate(-100%, 0%);
  }

  #legal-copy .legal-copy-content {
    vertical-align: middle;
  }

  #headline-1 {
    width: auto;
  }
}

@media screen and (width: 160px) and (height: 160px) {
  #legal-trigger {
    height: 12px;
    line-height: 12px;
    font-size: 7px;
  }

  #legal-copy {
    padding: 5px;
    font-size: 7px;
    line-height: 9px;
  }

  #headline-1 {
    top: 14px;
    font-size: 14px;
    line-height: 14px;
  }

  #circles-wrapper {
    width: 90px;
    height: 90px;
  }

  #logo {
    width: 30px;
    height: 36px;
    right: 8px;
  }

  #cta {
    bottom: 24px;
    padding: 9px 15px;
    font-size: 13px;
  }

}

@media screen and (width: 160px) and (height: 600px) {
  #main-background {
    background-position: center -154px;
  }

  #main-background::after {
    display: block;
    top: 220px;
  }

  #headline-1 {
    top: auto;
    bottom: 160px;
    line-height: 24px;
    color: #fff;
  }

  #circles-wrapper {
    width: 120px;
    height: 120px;
    top: auto;
    bottom: 0;
    left: 50%;
    z-index: 300;
    transform: translate(-50%, 100%);
  }

  #circle-text {

    .line1,
    .line2,
    .line3 {
      color: #fff;
    }

  }

  #circle-text .line2 img {
    display: none;
  }

  #circle-text .line2 img.white {
    display: block;
  }

  #logo {
    width: 30px;
    height: 36px;
    right: 8px;
  }

  #cta {
    bottom: 90px;
    padding: 9px 18px;
    font-size: 13px;
  }

}

@media screen and (width: 300px) and (height: 600px) {
  #headline-1 {
    top: 64px;
    padding: 0 20px;
    font-size: 32px;
    line-height: 32px;
  }

  #main-background {
    background-position: center 100%;
  }

  #circles-wrapper {
    width: 200px;
    height: 200px;
  }

  #cta {
    bottom: 190px;
  }
}

@media screen and (width: 728px) and (height: 90px) {
  #legal-trigger {
    width: 90px;
    font-size: 9px;
    left: 20px;
    transform-origin: 0 20px;
  }

  #headline-1 {
    width: auto;
    top: 31px;
    left: 52px;
    font-size: 28px;
    line-height: 28px;
  }

  #circles-wrapper {
    width: 80px;
    height: 80px;
    top: 50%;
    left: 0;
    z-index: 300;
    transform: translate(-150%, -50%);

    .line1 {
      top: 50%;
      left: 50%;
      margin-top: -28%;
      margin-left: -15%;
      font-size: 1.5vh;
    }

    .line2 {
      width: 48%;
      height: 48%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      img {
        position: absolute;
        width: 100%;
        height: 100%;

        &.white {
          display: none;
        }

      }

    }

    .line3 {
      top: 50%;
      left: 50%;
      margin-top: -22%;
      margin-left: 18%;
      font-size: 10vh;
      line-height: 85%;
    }

  }

  #logo {
    width: 30px;
    height: 36px;
    right: 8px;
  }

  #cta {
    left: 340px;
    margin-left: 0;
    bottom: 15px;
  }

}

@media screen and (width: 840px) and (height: 150px) {
  #legal-trigger {
    width: 150px;
    left: -20px;
    transform-origin: 20px 0;
  }

  #headline-1 {
    width: 380px;
    top: 33px;
    left: 52px;
    font-size: 42px;
    line-height: 42px;
  }

  #circles-wrapper {
    width: 130px;
    height: 130px;
    top: 50%;
    left: 0;
    z-index: 300;
    transform: translate(-150%, -50%);

    .line1 {
      top: 50%;
      left: 50%;
      margin-top: -28%;
      margin-left: -15%;
      font-size: 1.5vh;
    }

    .line2 {
      width: 48%;
      height: 48%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      img {
        position: absolute;
        width: 100%;
        height: 100%;

        &.white {
          display: none;
        }

      }

    }

    .line3 {
      top: 50%;
      left: 50%;
      margin-top: -22%;
      margin-left: 18%;
      font-size: 10vh;
      line-height: 85%;
    }

  }

  #logo {
    width: 33px;
    height: 40px;
    right: 10px;
  }

  #cta {
    left: 350px;
    margin-left: 0;
    bottom: 45px;
  }

}